<div style="text-align:center">

  <app-aston></app-aston>
  <hr/>
  <message-aston (response)="getText($event)"Blabla="Hello World" limit="20"></message-aston> <!-- getText fonction de App qui sert à récupèrer le message envoyé par le sendMessage du message  -->
  <message-aston Blabla="Hello Toto" limit="10"></message-aston>
  <h1>
    Welcome to {{ title }} {{ name }}!
    <!-- Entre les deux {}, c'est une expression  qui renvoie une chaine de caractères; le name en plus a été défini dans app.component.ts-->
  </h1>
  <input type="text" [(ngModel)]="email"> {{ email }}
  <h2>
    {{ sayHello() }}
    <!-- On fait appel à la fonction définie dans app.component.ts -->
  </h2>
  <message-aston></message-aston>
  <hr/>
  <app-data></app-data>
</div>