<div class="container">
  <input type="text" (input)="changeName($event)" placeholder="(input)">
  <br/>

  <input type="text" [(ngModel)]="name" placeholder="[(ngModel)]"> {{ name }}
  <hr/>
  <form (submit)="addTask()">
    <input type="text" name="task" [(ngModel)]="task.text" />


  </form>

  <ul>
    <li *ngFor="let task of tasks" [ngClass]="{'task-done': task.done}">{{ task.title }}</li>
    <!-- On utilise une directive structurelle avec * plus ici ngFor, il va y avoir une modification de la strucure-->
  </ul>

</div>